.App {
  background-image: linear-gradient(to bottom, #051937, #1b2d6d, #4e3ca2, #9042d1, #dd36f6);
}

/* Start : Scroll-css-design */

/* width */

::-webkit-scrollbar {
  width: 15px;
}

::-ms-scrollbar {
  width: 15px;
}

/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgb(193 162 224);
  border-radius: 0px;
}

::-ms-scrollbar-track {
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: rgb(138 22 254);
  border-radius: 0;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-ms-scrollbar-thumb {
  background: rgb(138 22 254);
  border: 2px solid transparent;
  background-clip: content-box;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  border: 2px solid transparent;
  background-clip: content-box;
}

::-ms-scrollbar-thumb:hover {
  border: 2px solid transparent;
  background-clip: content-box;
}

/* End : Scroll-css-design */

.recipe-img {
  /* width: 200px; */
  height: 200px;
  border-radius: 15%;
}

.recipe-container {
  overflow-y: auto;
  max-height: calc(100vh - 175px);
}

.custom-buttom {
  padding: .175rem .55rem !important;
  font-size: 1.3rem !important;
  line-height: 1.5 !important;
  border-radius: 0 !important;
}

.btn-primary {
  color: #fff;
  background-color: #8000ffe8 !important;
  border-color: #8000ffe8 !important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #8000ffe8 !important;
  border-color: #8000ffe8 !important;
}

.form-control {
  border-radius: 0 !important;
  padding: .275rem .45rem !important;
}

.recipe-card {
  border: 2px solid #8000ffe8 !important;
  /* border-radius: 2rem !important; */
}

.card-body {
  padding: 1rem !important;
}

.label-text {
  font-weight: 500;
  color: #8000ffe8;
}

.label-val {
  font-weight: 300;
  font-family: 'Courier New', Courier, monospace;
  text-transform: capitalize;
}

.app-title {
  font-family: cursive;
  color: #4699ff;
  margin-bottom: 0 !important;
}

.app-title-desc {
  font-size: 0.95rem;
  color: #c200ff !important;
}

.custom-buttom {
  background-image: linear-gradient(to bottom, #051937, #1b2d6d, #4e3ca2, #9042d1, #dd36f6) !important;
}

.card-header {
  background-color: rgb(255 255 255) !important;
}

@media only screen and (max-width: 600px) {
  .custom-buttom {
    margin-top: 0.5rem;
  }
  .app-title-desc {
    font-size: 0.75rem !important;
  }
  .app-title {
    font-size: 1.55rem !important;
  }
}

.img-lg-shadow {
  box-shadow: -4px 20px 19px -15px rgba(0, 0, 0, 1);
  -webkit-box-shadow: -4px 20px 19px -15px rgba(0, 0, 0, 1);
  -moz-box-shadow: -4px 20px 19px -15px rgba(0, 0, 0, 1);
}

.img-sm-shadow {
  box-shadow: 7px -5px 12px -2px rgba(0, 0, 0, 0.96);
  -webkit-box-shadow: 7px -5px 12px -2px rgba(0, 0, 0, 0.96);
  -moz-box-shadow: 7px -5px 12px -2px rgba(0, 0, 0, 0.96);
}

.loader-text {
  color: #613eb0;
}